.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #3f0071;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #3f0071;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #3f0071;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.title-form {
    font-size: 40px;
    background: linear-gradient(to right, #3f0071 20%, #f1f1f1 40%, #a6b2ec 60%, #3f0071 80%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    animation: background 3s linear infinite;
    margin: 0;
}

@keyframes background {
    to {
        background-position: 200% center;
    }
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre-completo {
    width: 35%;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.direction-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.direction-inputs {
    width: 100%;
    margin: 10px 10px;
}

.name-input {
    width: 100%;
}

.tel-input {
    width: 30%;
}

.email-input {
    width: 70%;
    margin: 10px 0;
}

.placeholder {
    position: absolute;
    left: 0;
}

.name-input:focus .placeholder {
    font-size: 5px;
}