.cart_item{
    width: 80%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin: 20px 0;
    transition: 0.5s;
}

.cart_item:hover{
    transform: scale(1.02);
}

.cart_item-header{
    background: #a6b2ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid black;
}

.title{
    font-size: 20px;
    max-width: 75%;
}

.remove-product{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    margin: 0;
}

.button-remove{
    cursor: pointer;
    color: red;
    transition: 0.3s;
}

.button-remove:hover{
    transform: scale(1.2);
}

.cart_item-body{
    display: flex;
    padding: 5px;
}

.img{
    width: 20%;
    padding-right: 20px;
}

.description{
    font-size: 14px;
    border-left: 2px solid black;
    padding-left: 20px;
}

.cart_item-footer{
    color: #fff;
    background: #3f0071;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-radius: 0 0 15px 15px;
    padding: 0 10px;
}